<div style="height: 70px;"></div>
<a href="#" data-toggle="popover" title="popover header" data-content="some content" class="btn btn-primary">
    Toggle Popover
</a>
<a href="#" data-toggle="popover" title="popover header" data-content="some content" data-trigger="hover"
    class="btn btn-primary ml-2">
    Toggle Popover Hover
</a>
<h1>Text</h1>
<p class="text-primary mt-5">text-primary</p>
<p class="text-danger">text-danger</p>
<hr />
<h1>a href</h1>
<a href="#" class="text-success">text-success</a>
<hr />
<div id="button">
    <h1>Button</h1>
    <span class="badge badge-primary">primary</span>
    <span class="badge badge-danger">primary</span>
    <span class="badge badge-pill badge-danger">primary</span>
    <a href="#" class="badge badge-pill badge-danger">primary</a>
    <br><br>
    <button class="btn btn-primary" type="button">btn-primary</button>
    <button class="btn btn-secondary" type="button">btn-secondary</button>
    <button class="btn btn-link" type="button">btn-link</button>
    <br><br>
    <a href="#" class="btn btn-primary">a href button</a>
    <br>
    <button class="btn btn-outline-primary" type="button">btn-primary</button>
    <br>
    <button class="btn btn-success btn-lg" type="button">Large Button</button>
    <button class="btn btn-success btn-sm" type="button">Small Button</button>
    <button class="btn btn-danger btn-lg btn-block" type="button">Block Button</button>

    <button class="btn btn-danger btn-lg active">active button</button>

    <button class="btn btn-danger" type="button" disabled>Disabled Button</button>
    <br>
    <div class="btn-group">
        <button class="btn btn-primary" type="button">btn-group1</button>
        <button class="btn btn-secondary" type="button">btn-group2</button>
        <button class="btn btn-success" type="button">btn-group3</button>
    </div>
    <br>
    <div class="btn-group-vertical">
        <button class="btn btn-primary" type="button">btn-group1</button>
        <button class="btn btn-secondary" type="button">btn-group2</button>
        <button class="btn btn-success" type="button">btn-group3</button>
    </div>
</div>
<hr />
<h1>Margin & Padding</h1>
<div class="bg-success kare mx-3 p-5">test yazısı</div><!-- En fazla m-5 e kadar margin verilebiliyor. -->
<div class="bg-primary kare mx-3 p-5">test yazısı</div>
<hr />
<h1>Border & Sizing</h1>
<div class="bg-light m-2 p-4 border"></div>
<div class="bg-light m-2 p-4 border border-danger"></div>
<div class="bg-light m-2 p-4 border border-danger rounded"></div>
<div class="bg-light m-2 p-4 border border-danger rounded-top"></div>
<div class="bg-light m-2 p-4 border w-25"></div>
<div class="bg-success m-2 p-4 w-25"></div>
<div class="bg-success m-2 p-4 w-50"></div>
<div class="bg-success m-2 p-4 w-75"></div>
<div class="bg-success m-2 p-4 w-100"></div>
<div style="height: 200px;" class="bg-warning">
    <div class="bg-primary p-4 ml-1 d-inline-block h-25"></div>
    <div class="bg-primary p-4 ml-1 d-inline-block h-50"></div>
    <div class="bg-primary p-4 ml-1 d-inline-block h-75"></div>
    <div class="bg-primary p-4 d-inline-block h-100"></div>
</div>
<div class="bg-light m-2 p-4 rounded-top shadow"></div>
<div class="bg-light m-2 p-4 rounded-top shadow-sm"></div>
<br>
<div class="bg-light m-2 p-4 rounded-top shadow-lg"></div>
<hr />
<h1>Text Align & Display</h1>
<p class="m-4 p-4 text-justify shadow-lg">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet atque qui provident hic commodi veniam inventore
    eius a dolores, nobis eligendi facere ipsum laudantium fugiat, incidunt sunt enim veritatis! Alias.
</p>
<p class="m-4 p-4 text-right shadow-lg">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet atque qui provident hic commodi veniam inventore
    eius a dolores, nobis eligendi facere ipsum laudantium fugiat, incidunt sunt enim veritatis! Alias.
</p>
<p class="m-4 p-4 text-center shadow-lg">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet atque qui provident hic commodi veniam inventore
    eius a dolores, nobis eligendi facere ipsum laudantium fugiat, incidunt sunt enim veritatis! Alias.
</p>

<blockquote class="m-4 p-4 shadow-lg">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita iste quia recusandae a consequuntur aliquam
        necessitatibus quidem temporibus, quasi officiis quaerat in, minus facilis dolorem culpa, accusantium velit.
        Veritatis, maiores.</p>
    <footer class="blockquote-footer">Özcan AVTAT</footer>
</blockquote>

<div class="d-inline bg-danger m-1">inline a çevrilmiş block etiketi (div)</div>
<div class="d-inline bg-danger m-1">inline a çevrilmiş block etiketi (div)</div>
<span class="d-block bg-warning m-1">block a çevrilmiş inline etiketi (span)</span>
<span class="d-block bg-warning m-1">block a çevrilmiş inline etiketi (span)</span>

<hr />
<h1>Tables</h1>

<table class="table table-striped table-hover table-bordered shadow-lg w-75 mx-auto">
    <thead class="table-dark">
        <tr>
            <td>#</td>
            <td>Name</td>
            <td>Surname</td>
            <td>Email</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Özcan</td>
            <td>AVTAT</td>
            <td>ozcan@elronyazilim.com.tr</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Özcan</td>
            <td>AVTAT</td>
            <td>ozcan@elronyazilim.com.tr</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Özcan</td>
            <td>AVTAT</td>
            <td>ozcan@elronyazilim.com.tr</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Özcan</td>
            <td>AVTAT</td>
            <td>ozcan@elronyazilim.com.tr</td>
        </tr>
    </tbody>
</table>

<br>
<table class="table table-dark table-striped table-hover table-bordered shadow-lg w-75 mx-auto">
    <thead>
        <tr>
            <td>#</td>
            <td>Name</td>
            <td>Surname</td>
            <td>Email</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Özcan</td>
            <td>AVTAT</td>
            <td>ozcan@elronyazilim.com.tr</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Özcan</td>
            <td>AVTAT</td>
            <td>ozcan@elronyazilim.com.tr</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Özcan</td>
            <td>AVTAT</td>
            <td>ozcan@elronyazilim.com.tr</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Özcan</td>
            <td>AVTAT</td>
            <td>ozcan@elronyazilim.com.tr</td>
        </tr>
    </tbody>
</table>

<br>
<table class="table table-dark table-striped table-hover table-bordered shadow-lg w-75 mx-auto table-sm">
    <thead>
        <tr>
            <td>#</td>
            <td>Name</td>
            <td>Surname</td>
            <td>Email</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Özcan</td>
            <td>AVTAT</td>
            <td>ozcan@elronyazilim.com.tr</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Özcan</td>
            <td>AVTAT</td>
            <td>ozcan@elronyazilim.com.tr</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Özcan</td>
            <td>AVTAT</td>
            <td>ozcan@elronyazilim.com.tr</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Özcan</td>
            <td>AVTAT</td>
            <td>ozcan@elronyazilim.com.tr</td>
        </tr>
    </tbody>
</table>
<br>
<table class="table table-striped table-hover table-bordered shadow-lg w-75 mx-auto">
    <thead class="table-dark">
        <tr>
            <td>#</td>
            <td>Name</td>
            <td>Surname</td>
            <td>Email</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Özcan</td>
            <td>AVTAT</td>
            <td>ozcan@elronyazilim.com.tr</td>
        </tr>
        <tr class="table-danger">
            <td>1</td>
            <td>Özcan</td>
            <td>AVTAT</td>
            <td>ozcan@elronyazilim.com.tr</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Özcan</td>
            <td>AVTAT</td>
            <td>ozcan@elronyazilim.com.tr</td>
        </tr>
        <tr>
            <td class="table-success">1</td>
            <td>Özcan</td>
            <td>AVTAT</td>
            <td>ozcan@elronyazilim.com.tr</td>
        </tr>
    </tbody>
</table>
<div class="w-25 table-responsive m-auto bg-warning">
    <table class="table table-striped table-hover table-bordered shadow-lg w-75 mx-auto">
        <thead class="table-dark">
            <tr>
                <td>#1</td>
                <td>Name</td>
                <td>Surname</td>
                <td>Email</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Özcan</td>
                <td>AVTAT</td>
                <td>ozcan@elronyazilim.com.tr</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Özcan</td>
                <td>AVTAT</td>
                <td>ozcan@elronyazilim.com.tr</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Özcan</td>
                <td>AVTAT</td>
                <td>ozcan@elronyazilim.com.tr</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Özcan</td>
                <td>AVTAT</td>
                <td>ozcan@elronyazilim.com.tr</td>
            </tr>
        </tbody>
    </table>
</div>
<hr />

<h1>List & List Group</h1>
<ul>
    <li>Lorem ipsum dolor sit amet.</li>
    <li>Lorem ipsum dolor sit amet.</li>
    <li>Lorem ipsum dolor sit amet.</li>
    <li>Lorem ipsum dolor sit amet.</li>
    <li>Lorem ipsum dolor sit amet.</li>
</ul>

<br>

<ul class="list-inline">
    <li class="list-inline-item">inline-item.</li>
    <li class="list-inline-item">inline-item.</li>
    <li class="list-inline-item">inline-item.</li>
</ul>

<ul class="list-group m-4">
    <li class="list-group-item">Lorem ipsum dolor sit amet.</li>
    <li class="list-group-item">Lorem ipsum dolor sit amet.</li>
    <li class="list-group-item">Lorem ipsum dolor sit amet.</li>
    <li class="list-group-item active">Lorem ipsum dolor sit amet.</li>
    <li class="list-group-item disabled">Lorem ipsum dolor sit amet.</li>
</ul>
<h4 class="text-center">Aşağıdaki yapı menü olarak kullanılabilir.</h4>
<div class="list-group w-50 m-auto">
    <a href="" class="list-group-item list-group-item-action">Lorem, ipsum dolor.</a>
    <a href="" class="list-group-item list-group-item-action">Lorem, ipsum dolor.</a>
    <a href="" class="list-group-item list-group-item-action">Lorem, ipsum dolor.</a>
    <a href="" class="list-group-item list-group-item-action">Lorem, ipsum dolor.</a>
</div>

<ul class="list-group m-4">
    <li class="list-group-item list-group-item-primary">Lorem ipsum dolor sit amet.</li>
    <li class="list-group-item list-group-item-secondary">Lorem ipsum dolor sit amet.</li>
    <li class="list-group-item list-group-item-success">Lorem ipsum dolor sit amet.</li>
    <li class="list-group-item list-group-item-danger">Lorem ipsum dolor sit amet.</li>
    <li class="list-group-item list-group-item-warning">Lorem ipsum dolor sit amet.</li>
</ul>
<hr />
<h1>Alert & Media Objects</h1>
<div class="alert alert-primary m-4">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, molestias!
    <a href="#" class="alert-link">link text</a>
</div>
<div class="alert alert-danger m-4">
    <h4>Lorem ipsum dolor sit.</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe rerum nisi quisquam nihil vel rem neque explicabo
        consequatur quasi molestias?</p>
    <hr />
    <p class="mb-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe doloremque vero beatae temporibus,
        voluptatibus non enim eligendi molestias maxime nesciunt dolore? Labore esse vero atque eum doloremque ab dolor
        harum!</p>
</div>
<h4 class="text-center">Cookie bildirimleri aşağıdaki gibi yapılabilir.</h4>
<div class="alert alert-primary alert-dismissible m-4 fade show">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, molestias!
    <button type="button" class="close" data-dismiss="alert">
        <span>&times;</span>
    </button>
</div>

<div class="media m-4">
    <img class="mr-3" src="https://via.placeholder.com/64x64" alt="" />
    <div class="media-body">
        <h5>Lorem ipsum dolor sit amet.</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia facilis quia eligendi? Quis delectus
            recusandae, deleniti reprehenderit culpa libero consequatur optio cum cumque dolore repellendus non numquam
            explicabo. Perspiciatis, omnis?</p>
    </div>
</div>

<div class="media m-4">
    <img class="mr-3" src="https://via.placeholder.com/64x64" alt="" />
    <div class="media-body">
        <h5>Lorem ipsum dolor sit amet.</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia facilis quia eligendi? Quis delectus
            recusandae, deleniti reprehenderit culpa libero consequatur optio cum cumque dolore repellendus non numquam
            explicabo. Perspiciatis, omnis?</p>
    </div>
</div>

<div class="media m-4">
    <img class="mr-3" src="https://via.placeholder.com/64x64" alt="" />
    <div class="media-body">
        <h5>Lorem ipsum dolor sit amet.</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia facilis quia eligendi? Quis delectus
            recusandae, deleniti reprehenderit culpa libero consequatur optio cum cumque dolore repellendus non numquam
            explicabo. Perspiciatis, omnis?</p>

        <div class="media m-4">
            <img class="mr-3" src="https://via.placeholder.com/64x64" alt="" />
            <div class="media-body">
                <h5>Lorem ipsum dolor sit amet.</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia facilis quia eligendi? Quis
                    delectus recusandae, deleniti reprehenderit culpa libero consequatur optio cum cumque dolore
                    repellendus non numquam explicabo. Perspiciatis, omnis?</p>
            </div>
        </div>
    </div>
</div>
<h4 class="text-center">Aşağıdaki ul yapısı ile *ngFor döngüsü ile bu görüntü oluşturulabilir.</h4>
<ul class="list-unstyled">

    <li class="media m-4">
        <img class="mr-3" src="https://via.placeholder.com/64x64" alt="" />
        <div class="media-body">
            <h5>Lorem ipsum dolor sit amet.</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia facilis quia eligendi? Quis delectus
                recusandae, deleniti reprehenderit culpa libero consequatur optio cum cumque dolore repellendus non
                numquam
                explicabo. Perspiciatis, omnis?</p>
        </div>
    </li>
    <li class="media m-4">
        <img class="mr-3" src="https://via.placeholder.com/64x64" alt="" />
        <div class="media-body">
            <h5>Lorem ipsum dolor sit amet.</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia facilis quia eligendi? Quis delectus
                recusandae, deleniti reprehenderit culpa libero consequatur optio cum cumque dolore repellendus non
                numquam
                explicabo. Perspiciatis, omnis?</p>
        </div>
    </li>
    <li class="media m-4">
        <img class="mr-3" src="https://via.placeholder.com/64x64" alt="" />
        <div class="media-body">
            <h5>Lorem ipsum dolor sit amet.</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia facilis quia eligendi? Quis delectus
                recusandae, deleniti reprehenderit culpa libero consequatur optio cum cumque dolore repellendus non
                numquam
                explicabo. Perspiciatis, omnis?</p>
        </div>
    </li>
    <li class="media m-4">
        <img class="mr-3" src="https://via.placeholder.com/64x64" alt="" />
        <div class="media-body">
            <h5>Lorem ipsum dolor sit amet.</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia facilis quia eligendi? Quis delectus
                recusandae, deleniti reprehenderit culpa libero consequatur optio cum cumque dolore repellendus non
                numquam
                explicabo. Perspiciatis, omnis?</p>
        </div>
    </li>
</ul>
<hr />
<h1>Images & Floats</h1>
<img class="m-4" src="../assets/1.jpg" />
<img class="m-4 rounded" src="../assets/1.jpg" />
<img class="m-4 rounded-circle" src="../assets/1.jpg" />
<img class="m-4 img-thumbnail" src="../assets/1.jpg" />
<img class="mr-5 img-fluid" src="../assets/2.jpg" />
<div class="clearfix">
    <img class="m-4 float-left" src="../assets/1.jpg" />
    <img class="m-4 float-right" src="../assets/1.jpg" />
    <p class="m-4 text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, asperiores. Obcaecati
        earum impedit blanditiis sunt. Voluptatem placeat commodi neque explicabo, beatae quod iusto sunt obcaecati
        consequuntur ratione reprehenderit eaque fuga id laboriosam vel atque, debitis ducimus dolorum praesentium earum
        mollitia accusamus asperiores eveniet! Eligendi neque, quod in ipsam enim reiciendis ipsa dolorum minima. Nobis
        fugiat nesciunt, saepe facere mollitia nemo, inventore dolorem quidem aliquam dolores fugit sed? Quibusdam,
        maxime voluptatum? Quibusdam doloremque atque consequatur dignissimos error nostrum libero obcaecati voluptate
        amet, ipsam rem facere provident esse corporis modi magni autem vitae eum earum. Molestiae voluptatem sint
        obcaecati, a porro, quaerat quam recusandae velit quibusdam voluptas assumenda qui placeat similique doloribus
        nulla itaque! Nemo vel delectus consectetur quam aperiam eveniet molestiae iure possimus. Sunt voluptatibus
        reiciendis sed neque impedit cumque dolore, molestias quas velit nulla labore unde! Suscipit, ipsum similique
        voluptas consectetur molestiae cum ipsa architecto perspiciatis aperiam, ex necessitatibus harum sint. Nostrum
        vitae, modi, possimus temporibus similique neque voluptatibus corrupti laudantium officiis optio, ducimus velit
        autem nesciunt dolorum in accusantium magnam exercitationem incidunt aut eum distinctio id eius. Voluptatibus
        earum neque modi cumque quibusdam cupiditate voluptatem et consequuntur enim a laudantium porro eos nulla
        deserunt provident alias ea, mollitia iusto fugiat ducimus minus saepe labore dicta. Veritatis soluta quae illo
        dolor molestias vero nemo eligendi possimus nostrum distinctio, eum consequatur similique corrupti, corporis
        dolore sint. Quis vero laudantium rerum nam amet numquam laboriosam, eos doloremque in porro repellendus esse,
        voluptatem animi ipsum. Totam amet, reiciendis id sit nesciunt dolorem cumque.</p>

    <hr />
    <div id="formcontrols">
        <h1>Forms & Input Groups</h1>
        <form class="m-4">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" class="form-control" placeholder="Enter your name">
            </div>

            <div class="form-group">
                <label for="mail">Name</label>
                <input type="email" id="mail" class="form-control" placeholder="Enter your email address">
                <small class="form-text text-muted">Please enter your email</small>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" placeholder="Enter your password">
            </div>

            <div class="form-group">
                <label for="city">City</label>
                <select name="city" id="city" class="form-control">
                    <option value="0">Eskişehir</option>
                    <option value="1">İstanbul</option>
                    <option value="2">Ankara</option>
                    <option value="3">İzmir</option>
                </select>
            </div>


            <div class="form-group">
                <label for="message">Mesaj</label>
                <textarea name="message" id="message" rows="5" class="form-control">
             </textarea>
            </div>

            <div class="form-group">
                <legend>Hobies</legend>
                <div class="form-check">
                    <label class="form-check-label m-3">
                        <input type="checkbox" />Koşmak
                    </label>
                    <br />
                    <label class="form-check-label m-3">
                        <input type="checkbox" />Futbol
                    </label>
                    <br />
                    <label class="form-check-label  m-3">
                        <input type="checkbox" />Okumak
                    </label>
                </div>
            </div>

            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="ch">
                <label class="custom-control-label" for="ch">Münferit checkbox</label>
            </div>

            <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="rd">
                <label class="custom-control-label" for="rd">Münferit radio</label>
            </div>

            <div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="cr1" name="example">
                    <label class="custom-control-label" for="cr1">Radio Group1</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="cr2" name="example">
                    <label class="custom-control-label" for="cr2">Radio Group2</label>
                </div>
            </div>
            <div class="input-group mt-3">
                <input type="text" class="form-control">
                <div class="input-group-append">
                    <span class="input-group-text" id="ig">@gmail.com</span>
                </div>
            </div>

            <div class="input-group mt-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="ig">https://www.</span>
                </div>
                <input type="text" class="form-control">

            </div>

            <div class="clearfix mt-4">
                <div class="w-25 float-left">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" class="form-control" placeholder="Enter your name">
                    </div>
                </div>

                <div class="w-75 float-left pl-2">
                    <div class="form-group">
                        <label for="name">SurName</label>
                        <input type="text" id="name" class="form-control" placeholder="Enter your name">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <hr />
    <h1>Cards</h1>


    <div class="card w-75 mx-auto my-4">
        <div class="card-body">
            <h5 class="card-title">
                Lorem ipsum dolor sit amet.
            </h5>
            <p class="card-text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel unde necessitatibus molestiae expedita ab
                nisi quae! Quam vel ea doloribus unde fugit totam ducimus voluptates? Tempora rem iure sequi veritatis
                ad ratione autem aut unde reiciendis, perspiciatis facere laudantium quidem, dolor est mollitia possimus
                placeat libero beatae? Nam, optio rem?
            </p>
            <button class="btn btn-primary">Button</button>
        </div>
    </div>

    <div class="card w-75 mx-auto my-4">
        <div class="card-header">Header</div>
        <div class="card-body">
            Lorem ipsum dolor sit amet.
        </div>
        <div class="card-footer">
            Footer
        </div>
    </div>

    <div class="card w-75 mx-auto my-4">
        <div class="card-header">Header</div>
        <ul class="ul list-group list-group-flush">
            <li class="list-group-item">Lorem, ipsum dolor.</li>
            <li class="list-group-item">Lorem, ipsum dolor.</li>
            <li class="list-group-item">Lorem, ipsum dolor.</li>
            <li class="list-group-item">Lorem, ipsum dolor.</li>
        </ul>
    </div>

    <div class="card w-75 mx-auto my-4">
        <div class="card-header">Featured</div>
        <div class="card-body">
            <h5 class="card-title">
                Lorem ipsum dolor sit amet.
            </h5>
            <p class="card-text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel unde necessitatibus molestiae expedita ab
                nisi quae! Quam vel ea doloribus unde fugit totam ducimus voluptates? Tempora rem iure sequi veritatis
                ad ratione autem aut unde reiciendis, perspiciatis facere laudantium quidem, dolor est mollitia possimus
                placeat libero beatae? Nam, optio rem?
            </p>
            <button class="btn btn-primary">Button</button>
        </div>
        <div class="card-footer">
            2 days ago.
        </div>
    </div>


    <div class="card w-25 my-4 mx-auto">
        <img src="../assets/3.jpg" class="car-img-top" alt="">
        <div class="card-body">
            <h4 class="card-title">Özcan AVTAT</h4>
            <p class="card-text">Lorem, ipsum dolor.</p>
            <a href="" class="card-link">See Profile</a>
        </div>
    </div>
    <h3>Card Columns (Boyların önemi yok)</h3>
    <div class="card-columns my-3 mx-auto w-75">
        <div class="card w-75 mx-auto my-4 bg-primary" style="height:350px">
            <div class="card-body">
                Lorem ipsum dolor sit amet.
            </div>
        </div>
        <div class="card w-75 mx-auto my-4 bg-danger" style="height:250px">
            <div class="card-body">
                Lorem ipsum dolor sit amet.
            </div>
        </div>
        <div class="card w-75 mx-auto my-4 bg-warning">
            <div class="card-body">
                Lorem ipsum dolor sit amet.
            </div>
        </div>
        <div class="card w-75 mx-auto my-4 bg-primary">
            <div class="card-body">
                Lorem ipsum dolor sit amet.
            </div>
        </div>
        <div class="card w-75 mx-auto my-4 bg-danger">
            <div class="card-body">
                Lorem ipsum dolor sit amet.
            </div>
        </div>
        <div class="card w-75 mx-auto my-4 bg-warning">
            <div class="card-body">
                Lorem ipsum dolor sit amet.
            </div>
        </div>
    </div>
    <h3>Card Deck (Hepsi aynı boyda)</h3>
    <div class="card-deck my-3 mx-auto w-75">
        <div class="card w-75 my-4 bg-primary">
            <div class="card-body">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. </p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. </p>
            </div>
        </div>
        <div class="card w-75 my-4 bg-danger ml-1">
            <div class="card-body">
                Lorem ipsum dolor sit amet.
            </div>
        </div>
        <div class="card w-75 my-4 bg-warning ml-1">
            <div class="card-body">
                Lorem ipsum dolor sit amet.
            </div>
        </div>
        <div class="card w-75 my-4 bg-success ml-1">
            <div class="card-body">
                Lorem ipsum dolor sit amet.
            </div>
        </div>
    </div>
    <h3>Card Group (Hepsi aynı boyda ve bitişik)</h3>
    <div class="card-group my-3 mx-auto w-75">
        <div class="card w-75 my-4 bg-primary">
            <div class="card-body">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. </p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. </p>
            </div>
        </div>
        <div class="card w-75 my-4 bg-danger">
            <div class="card-body">
                Lorem ipsum dolor sit amet.
            </div>
        </div>
        <div class="card w-75 my-4 bg-warning">
            <div class="card-body">
                Lorem ipsum dolor sit amet.
            </div>
        </div>
        <div class="card w-75 my-4 bg-success">
            <div class="card-body">
                Lorem ipsum dolor sit amet.
            </div>
        </div>
    </div>
    <hr />
    <div id="jumbotrom">
        <h1>Jumbotron & Breadcrumbs</h1>

        <div class="jumbotron sticky-top">
            <div class="container">
                <h1>Lorem, ipsum dolor.</h1>
                <p class="lead">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis sint exercitationem voluptatum
                    ullam
                    incidunt expedita distinctio odio, nesciunt veritatis ratione!
                </p>
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, porro!</p>
                <a href="" class="btn btn-primary btn-lg">Lorem, ipsum.</a>
            </div>
        </div>

        <br>

        <nav>
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="">Home</a></li>
                    <li class="breadcrumb-item active">Products</li>
                </ol>
            </div>
        </nav>

        <nav>
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="">Home</a></li>
                    <li class="breadcrumb-item"><a href="/products">Products</a></li>
                    <li class="breadcrumb-item active">Products</li>
                </ol>
            </div>
        </nav>

        <hr />
    </div>
    <div id="dropdown">
        <h1>Dropdown</h1>

        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Dropdown button
            </button>

            <div class="dropdown-menu">
                <a href="#" class="dropdown-item">Link1</a>
                <a href="#" class="dropdown-item">Link2</a>
                <a href="#" class="dropdown-item">Link3</a>
            </div>
        </div>
        <br><br>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Dropdown button
            </button>

            <div class="dropdown-menu">
                <a href="#" class="dropdown-item">Link1</a>
                <a href="#" class="dropdown-item">Link2</a>
                <a href="#" class="dropdown-item">Link3</a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">Link4</a>
            </div>
        </div>
        <br><br>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Dropdown button
            </button>

            <div class="dropdown-menu">
                <a href="#" class="dropdown-item">Link1</a>
                <a href="#" class="dropdown-item">Link2</a>
                <a href="#" class="dropdown-item">Link3</a>
                <div class="dropdown-header">Header</div>
                <a href="#" class="dropdown-item">Link4</a>
            </div>
        </div>
        <br><br>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Dropdown button
            </button>

            <div class="dropdown-menu">
                <a href="#" class="dropdown-item active">Link1</a>
                <a href="#" class="dropdown-item disabled">Link2</a>
                <a href="#" class="dropdown-item">Link3</a>
                <div class="dropdown-header">Header</div>
                <a href="#" class="dropdown-item">Link4</a>
            </div>
        </div>

        <br><br>
        <div class="dropdown dropright">
            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Dropdown button
            </button>

            <div class="dropdown-menu">
                <a href="#" class="dropdown-item active">Link1</a>
                <a href="#" class="dropdown-item disabled">Link2</a>
                <a href="#" class="dropdown-item">Link3</a>
                <div class="dropdown-header">Header</div>
                <a href="#" class="dropdown-item">Link4</a>
            </div>
        </div>

        <br><br>
        <div class="dropdown float-right dropleft">
            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Dropdown button
            </button>

            <div class="dropdown-menu">
                <a href="#" class="dropdown-item active">Link1</a>
                <a href="#" class="dropdown-item disabled">Link2</a>
                <a href="#" class="dropdown-item">Link3</a>
                <div class="dropdown-header">Header</div>
                <a href="#" class="dropdown-item">Link4</a>
            </div>
        </div>

        <div class="btn-group">
            <button type="button" class="btn btn-primary">Seçenek 1</button>
            <button type="button" class="btn btn-success">Seçenek 2</button>
            <div class="btn-group">
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">Seçenek 3</button>
                <div class="dropdown-menu">
                    <a href="" class="dropdown-item">Alt Seçenek 1</a>
                    <a href="" class="dropdown-item">Alt Seçenek 2</a>
                </div>
            </div>
        </div>
        <br><br>
        <div class="btn-group">
            <button type="button" class="btn btn-primary">Kaydet</button>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"></button>
            <div class="dropdown-menu">
                <a href="" class="dropdown-item">Kaydet</a>
                <a href="" class="dropdown-item">Kaydet ve Kapat</a>
            </div>
        </div>
        <br><br>
        <div class="btn-group-vertical">
            <button type="button" class="btn btn-primary">Seçenek 1</button>
            <button type="button" class="btn btn-success">Seçenek 2</button>
            <div class="btn-group">
                <button type="button" class="btn btn-danger drop-right dropdown-toggle" data-toggle="dropdown">Seçenek
                    3</button>
                <div class="dropdown-menu">
                    <a href="" class="dropdown-item">Alt Seçenek 1</a>
                    <a href="" class="dropdown-item">Alt Seçenek 2</a>
                </div>
            </div>
        </div>
        <br><br>
    </div>
    <hr />
    <h1>NavBar</h1>

    <nav class="navbar bg-light navbar-expand-sm mb-3">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="#" class="nav-link">Link 1</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Link 2</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Link 3</a>
            </li>
        </ul>
    </nav>
    <nav class="navbar bg-light navbar-expand-sm justify-content-center">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="#" class="nav-link">Link 1</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Link 2</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Link 3</a>
            </li>
        </ul>
    </nav>

    <nav class="navbar bg-light navbar-expand-sm justify-content-end mt-3">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="#" class="nav-link">Link 1</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Link 2</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Link 3</a>
            </li>
        </ul>
    </nav>

    <nav class="navbar bg-light navbar-light navbar-expand-sm mt-3">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="#" class="nav-link">Link 1</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Link 2</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Link 3</a>
            </li>
        </ul>
    </nav>
    <nav class="navbar bg-primary navbar-dark navbar-expand-sm mt-3">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="#" class="nav-link">Link 1</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Link 2</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Link 3</a>
            </li>
        </ul>
    </nav>

    <nav class="navbar bg-dark navbar-dark navbar-expand-sm mt-3">
        <a href="" class="navbar-brand">Noyax</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="#" class="nav-link">Link 1</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Link 2</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Link 3</a>
            </li>
        </ul>
    </nav>

    <nav class="navbar bg-dark navbar-dark navbar-expand-sm mt-3">
        <a href="" class="navbar-brand">Noyax</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="#" class="nav-link">Link 1</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Link 2</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Link 3</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="#" class="nav-link">Link 1</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Link 2</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Link 3</a>
            </li>
        </ul>
    </nav>

    <nav class="navbar bg-dark navbar-dark navbar-expand-sm mt-3">
        <div class="container">
            <a href="" class="navbar-brand">Noyax</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="#" class="nav-link">Link 1</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Link 2</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Link 3</a>
                </li>
            </ul>
        </div>
    </nav>

    <nav class="navbar bg-dark navbar-dark navbar-expand-sm">
        <a href="" class="navbar-brand">Noyax</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsableNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsableNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="#" class="nav-link">Link 1</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Link 2</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Link 3</a>
                </li>
            </ul>
        </div>
    </nav>
    <hr />
    <h1>Collapse & Accordion</h1>
    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#content">Göster / Gizle</button>
    <a href="#content" class="btn btn-primary ml-2" data-toggle="collapse">Göster / Gizle (Link)</a>
    <div id="content" class="collapse show">
        <h2>Lorem, ipsum dolor.</h2>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est itaque nihil quidem unde earum consequuntur
            repudiandae debitis quos dicta aperiam asperiores cupiditate id, tempore quasi dolore inventore maxime illum
            iusto!
        </p>
    </div>

    <br><br>

    <div id="accordion">
        <div class="card mb-1">
            <div class="card-header">
                <a href="#collapseOne" class="card-link" data-toggle="collapse">Item 1</a>
            </div>
            <div id="collapseOne" class="collapse show" data-parent="#accordion">
                <div class="card-body">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla dolorem, officia repellendus,
                        voluptates incidunt, voluptate aspernatur expedita soluta vero ullam minus dolores nam inventore
                        esse atque maiores aliquid cumque non.
                    </p>
                </div>
            </div>
        </div>

        <div class="card mb-1">
            <div class="card-header">
                <a href="#collapseTwo" class="card-link" data-toggle="collapse">Item 2</a>
            </div>
            <div id="collapseTwo" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla dolorem, officia repellendus,
                        voluptates incidunt, voluptate aspernatur expedita soluta vero ullam minus dolores nam inventore
                        esse atque maiores aliquid cumque non.
                    </p>
                </div>
            </div>
        </div>

        <div class="card mb-1">
            <div class="card-header">
                <a href="#collapseThree" class="card-link" data-toggle="collapse">Item 3</a>
            </div>
            <div id="collapseThree" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla dolorem, officia repellendus,
                        voluptates incidunt, voluptate aspernatur expedita soluta vero ullam minus dolores nam inventore
                        esse atque maiores aliquid cumque non.
                    </p>
                </div>
            </div>
        </div>

    </div>
    <hr />
    <h1>Carousel</h1>
    <div class="container">
        <div class="carousel slide my-4" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="../assets/0_.jpg" />
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="../assets/1_.jpg" />
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="../assets/2_.jpg" />
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="../assets/3_.jpg" />
                </div>
            </div>
        </div>

        <div id="slider" class="carousel slide my-4" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="../assets/0_.jpg" />
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="../assets/1_.jpg" />
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="../assets/2_.jpg" />
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="../assets/3_.jpg" />
                </div>
            </div>
            <a href="#slider" class="carousel-control-prev" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>

            <a href="#slider" class="carousel-control-next" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>

        <div id="slider2" class="carousel slide carousel-fade my-4" data-ride="carousel">
            <ul class="carousel-indicators">
                <li data-target="#slider2" data-slide-to="0"></li>
                <li data-target="#slider2" data-slide-to="1"></li>
                <li data-target="#slider2" data-slide-to="2"></li>
                <li data-target="#slider2" data-slide-to="3"></li>
            </ul>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="../assets/0_.jpg" />
                    <div class="carousel-caption">
                        <h5>Slider Header 1</h5>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus, itaque.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="../assets/1_.jpg" />
                    <div class="carousel-caption">
                        <h5>Slider Header 2</h5>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus, itaque.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="../assets/2_.jpg" />
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="../assets/3_.jpg" />
                </div>
            </div>
            <a href="#slider2" class="carousel-control-prev" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>

            <a href="#slider2" class="carousel-control-next" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
        <h4>JQuery ile yönetmek</h4>
        <div id="slider3" class="carousel slide carousel-fade my-4">
            <ul class="carousel-indicators">
                <li data-target="#slider3" data-slide-to="0"></li>
                <li data-target="#slider3" data-slide-to="1"></li>
                <li data-target="#slider3" data-slide-to="2"></li>
                <li data-target="#slider3" data-slide-to="3"></li>
            </ul>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="../assets/0_.jpg" />
                    <div class="carousel-caption">
                        <h5>Slider Header 1</h5>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus, itaque.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="../assets/1_.jpg" />
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Slider Header 2</h5>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus, itaque.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="../assets/2_.jpg" />
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="../assets/3_.jpg" />
                </div>
            </div>
            <a href="#slider3" class="carousel-control-prev" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>

            <a href="#slider3" class="carousel-control-next" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
    <hr />
    <h1>Modals</h1>

    <div class="container my-4">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
            Open Modal
        </button>

        <div class="modal fade" id="myModal">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            Lorem, ipsum.
                        </h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        Lorem ipsum dolor sit amet.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="myModal2">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            Lorem, ipsum.
                        </h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        Bootstrap test projesine hoşgeldiniz!...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-primary ml-2" data-toggle="modal" data-target="#myModal3">
            Open Static Backdrop Modal
        </button>

        <div class="modal fade" id="myModal3" data-backdrop="static">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            Lorem, ipsum.
                        </h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        Lorem ipsum dolor sit amet.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <h1>Tooltips</h1>
    <a href="" class="btn btn-primary" data-toggle="tooltip" title="ToolTip Text">
        Hover over me!...
    </a>

    <br><br>
    <button id="btntoolTip" class="btn btn-success" data-toggle="tooltip" title="<h3>Header</h3><p>ToolTip Text</p>"
        data-html="true">
        ToolTip with HTML
    </button>

    <br><br>

    <button class="btn btn-warning ml-2" onclick="showTooltip()">Show Tootip</button>
    <button class="btn btn-warning ml-2" onclick="hideTooltip()">Hide Tooltip</button>
    <button class="btn btn-warning ml-2" onclick="toggleTooltip()">Toggle Tooltip</button>
    <hr />
    <h1>Popovers</h1>
    <h4>Fatura incelemede müşteri adı üzerine mouse ile gelince müşterinin bakiye vs bilgilerinin tooltip olarak
        gösterilmesi güzel olur. (Örn:Quickbooks)</h4>

    <a href="#" data-toggle="popover" title="popover header" data-content="some content" class="btn btn-primary">
        Toggle Popover
    </a>

    <hr />

    <h1>Scrollspy</h1>
    <h4>Buranın içeriği yukarıda fixed olan nav menüdür.</h4>
    <nav id="navbarMain" class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <div class="container">
            <a href="" class="navbar-brand">Noyax</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="#button" class="nav-link">Button</a>
                </li>
                <li class="nav-item">
                    <a href="#formcontrols" class="nav-link">Form Controls</a>
                </li>
                <li class="nav-item">
                    <a href="#jumbotrom" class="nav-link">Jumbotrom</a>
                </li>
                <li class="nav-item">
                    <a href="#dropdown" class="nav-link">Dropdown</a>
                </li>
            </ul>
        </div>
    </nav>



    <hr />

    <h1>Container</h1>
    <div class="container bg-success" style="height: 250px;">
        <p>
            Bu içerik container ın içinde
        </p>
    </div>

    <div class="container-fluid bg-warning mt-4"  style="height: 250px;">
        <p>
            Bu içerik container fluid ın içinde ve sağa sola tam yaslı
        </p>
    </div>
    <hr />

    <h1>Grid Layout</h1>

    <div class="container">
        <h2>Eşit Kolonlar</h2>
        <div class="row">
            <div class="col border">Column</div>
        </div>
        <div class="row my-2">
            <div class="col border">Column</div>
            <div class="col border">Column</div>
        </div>
        <div class="row my-2">
            <div class="col border">Column</div>
            <div class="col border">Column</div>
            <div class="col border">Column</div>
        </div>
        
        <div class="row my-2">
            <div class="col border">Column</div>
            <div class="col border">Column</div>
            <div class="col border">Column</div>
            <div class="col border">Column</div>
        </div>

        <div class="row my-2">
            <div class="col border">Column</div>
            <div class="col border">Column</div>
            <div class="col border">Column</div>
            <div class="col border">Column</div>
            <div class="col border">Column</div>
            <div class="col border">Column</div>
        </div>

        <h2>Eşit Olmayan Kolonlar</h2>
        <div class="row my-2">
            <div class="col-2 border">2 Column</div>
            <div class="col-10 border">10 Column</div>
        </div>
        <div class="row my-2">
            <div class="col-8 border">8 Column</div>
            <div class="col-4 border">4 Column</div>
        </div>
        <div class="row my-2">
            <div class="col-8 border">8 Column</div>
            <div class="col-6 border">6 Column</div>
        </div>

        <div class="row my-2">
            <div class="col-4 border">4 Column</div>
            <div class="col-5 border">5 Column</div>
        </div>
        <div class="row my-2">
            <div class="col-4 mr-auto border">4 Column</div>
            <div class="col-5 border">5 Column</div>
        </div>
        <div class="row my-2">
            <div class="col-4 border">4 Column</div>
            <div class="col-5 ml-auto border">5 Column</div>
        </div>

        <h2>Kolon Sıralama</h2>
        <div class="row my-2">
            <div class="col-3 border order-3">3 Column</div>
            <div class="col-4 border order-2">4 Column</div>
            <div class="col border order-1">5 Column</div>
        </div>

        <h2>İç içe satırlar</h2>
        <div class="row my-2">
            <div class="col-4 border">4 Column</div>
            <div class="col-8 border">8 Column
                <div class="row">
                    <div class="col bg-primary">6 Column</div>
                    <div class="col bg-danger">6 Column</div>
                </div>
            </div>
        </div>
    </div>
    <hr />
<h1>Responsive Grid</h1>

<div class="container">
    <h2>Extra Small<576px</h2>
    <div class="row my-2">
        <div class="col border">6 Column</div>
        <div class="col border">6 Column</div>
    </div>

    <h2>Small>=576px</h2>
    <div class="row my-2">
        <div class="col-sm-3 border">3 Column</div>
        <div class="col-sm-9 border">9 Column</div>
    </div>

    <h2>Medium>=768px</h2>
    <div class="row my-2">
        <div class="col-md-3 border">3 Column</div>
        <div class="col-md-9 border">9 Column</div>
    </div>

    <h2>Large>=992px</h2>
    <div class="row my-2">
        <div class="col-lg-3 border">3 Column</div>
        <div class="col-lg-9 border">9 Column</div>
    </div>

    <h2>Extra Large>=1200px</h2>
    <div class="row my-2">
        <div class="col-xl-3 border">3 Column</div>
        <div class="col-xl-9 border">9 Column</div>
    </div>

    <h2>Tüm Ekranlara Uygun</h2>
    <div class="row my-2">
        <div class="col-xl-1 col-lg-3 col-md-4 col-sm-6 col-12 border">1. Column</div>
        <div class="col-xl-1 col-lg-3 col-md-4 col-sm-6 col-12 border">2. Column</div>
        <div class="col-xl-1 col-lg-3 col-md-4 col-sm-6 col-12 border">3. Column</div>
        <div class="col-xl-1 col-lg-3 col-md-4 col-sm-6 col-12 border">4. Column</div>
        <div class="col-xl-1 col-lg-3 col-md-4 col-sm-6 col-12 border">5. Column</div>
        <div class="col-xl-1 col-lg-3 col-md-4 col-sm-6 col-12 border">6. Column</div>
        <div class="col-xl-1 col-lg-3 col-md-4 col-sm-6 col-12 border">7. Column</div>
        <div class="col-xl-1 col-lg-3 col-md-4 col-sm-6 col-12 border">8. Column</div>
        <div class="col-xl-1 col-lg-3 col-md-4 col-sm-6 col-12 border">9. Column</div>
        <div class="col-xl-1 col-lg-3 col-md-4 col-sm-6 col-12 border">10. Column</div>
        <div class="col-xl-1 col-lg-3 col-md-4 col-sm-6 col-12 border">11. Column</div>
        <div class="col-xl-1 col-lg-3 col-md-4 col-sm-6 col-12 border">12. Column</div>
    </div>
    <br><br>
    <div class="row my-2">
        <div class="col-xl-1 col-lg-3 col-md-4 col-sm-6 col border bg-primary">1. Column</div>
        <div class="col-xl-11 col-lg-9 col-md-8 col-sm-6 col border bg-danger">2. Column</div>
    </div>
</div>
    <hr/>